p {
    font-size: 120%;
}

textarea {
    font-family: monospace;
    font-size: 100%;
    tab-size: 4;
    width: 1000px;
    height: 150px;
    white-space: nowrap;
}

body{
  background: #EDB6B6;
}

#spiral{
  width:60px;
  height:90px;
}
